ErrorDocument 404 /404.php

RewriteEngine on

RewriteRule ^Login index.php [L]

RewriteRule ^Logout logout.php [L]

RewriteRule ^Dashboard dashboard.php [L]

RewriteRule ^Add-Vehicle add-vehile.php [L]

RewriteRule ^Vehicle-List vehile-list.php [L]

RewriteRule ^Route route.php [L]

RewriteRule ^Add-User add-user.php [L]

RewriteRule ^User-List user-list.php [L]

RewriteRule ^Profile profile.php [L]

RewriteRule ^Insert insert.php [L]

RewriteRule ^Update update.php [L]

RewriteRule ^Delete delete.php [L]





