RewriteEngine on

RewriteRule ^Dashboard dashboard.php [NC,L]

RewriteRule ^Login index.php [NC,L]

RewriteRule ^Logout logout.php [NC,L]

RewriteRule ^(?=.*[a-zA-Z\d].*)[a-zA-Z\d!@#$%&*]{7,}$  404.php [NC,L]
